@import url("https://fonts.googleapis.com/css?family=Phudu");
@import url("https://fonts.googleapis.com/css?family=Oxanium");

/* ///////////////// */
/* BASE SETUPS */
/* ///////////////// */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oxanium";
  transition: all 0.2s ease-out;
}

:root {
  --nav-height: 5rem;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  flex-direction: column;
  align-items: center;
}

.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* /////////////////// */
/* FOOTER SECTION */
/* /////////////////// */
footer {
  margin: 3rem 0;
}

footer a {
  position: relative;
  text-decoration: none;
  text-align: center;
  margin-top: 2rem;
  color: black;
}

footer a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  border-radius: 4px;
  background-color: orange;
  opacity: 0.7;
  bottom: 0;
  top: 20px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

footer a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
